<body>
    <div class="container mt-5">
        <div class="header text-center">
            <h1>Arko Banerjee</h1>
            <p><strong>Web Developer</strong></p>
            <p><i class="fa fa-phone"></i> +91 7908114893 | <i class="fa fa-envelope"></i> {{mail}}</p>
            <p>Sainthia, Kamar Para, Sainthia, Birbhum, 731234</p>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Profile</h2>
                <p>Highly motivated and detail-oriented web developer with 3.8 years of experience in building responsive, scalable, and efficient web applications. Passionate about staying up-to-date with industry trends and best practices. Committed to delivering high-quality solutions that meet and exceed expectations.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Skills</h2>
                <ul class="list-inline">
                    <li class="list-inline-item badge badge-primary">PHP</li>
                    <li class="list-inline-item badge badge-secondary">HTML</li>
                    <li class="list-inline-item badge badge-success">CSS</li>
                    <li class="list-inline-item badge badge-danger">Node.js</li>
                    <li class="list-inline-item badge badge-warning">C#</li>
                    <li class="list-inline-item badge badge-info">React.js</li>
                    <li class="list-inline-item badge badge-dark">Angular</li>
                    <li class="list-inline-item badge badge-light">PostgreSQL</li>
                    <li class="list-inline-item badge badge-secondary">MySQL</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Education</h2>
                <ul class="list-group">
                    <li class="list-group-item"><strong>B.Tech (CSE), 2019:</strong> Maulana Abul Kalam Azad University of Technology, Mallabhum Institute of Technology</li>
                    <li class="list-group-item"><strong>Diploma (CST), 2016:</strong> Santiniketan Institute of Polytechnic, WBSCT&VE&SD</li>
                    <li class="list-group-item"><strong>Secondary, 2010:</strong> Kundola K.S.G.C. High School, WBBSE</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Languages Known</h2>
                <ul class="list-inline">
                    <li class="list-inline-item badge badge-primary">Bengali</li>
                    <li class="list-inline-item badge badge-secondary">English</li>
                    <li class="list-inline-item badge badge-success">Hindi</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Work Experience</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Web Developer</strong> - NICSI Project (Under WB govt. Mid-Day Meal Section) <br>
                        <em>October 2022 - Present</em> <br>
                        Technology: Secure API Development in .NET Core from NIC
                    </li>
                    <li class="list-group-item">
                        <strong>NICSI Project (Under WB govt. Labour Commissionerate)</strong> <br>
                        <em>September 2019 - September 2020</em> <br>
                        Technology: Drupal 7, JavaScript, jQuery, PostgreSQL
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Projects</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Labour Commissionerate Portal</strong> <br>
                        Official portal for the Labour Commissionerate of West Bengal, focusing on maintaining industrial relations, enforcing labor laws, and administering social security schemes. <br>
                        Technologies Used: Drupal 7, JavaScript, jQuery, PostgreSQL
                    </li>
                    <li class="list-group-item">
                        <strong>Karma Sathi Parijayee Shramik (Karma SathiPS) Scheme</strong> <br>
                        Website for the Karma SathiPS scheme for migrant workers by the Government of West Bengal, providing social security benefits to workers in the unorganized sector. <br>
                        Technologies Used: Drupal 7, JavaScript, jQuery, PostgreSQL
                    </li>
                    <li class="list-group-item">
                        <strong>Mid-Day Meal (MDM) Scheme Portal</strong> <br>
                        Official portal for the Mid-Day Meal scheme of the Government of West Bengal, aimed at providing nutritious meals to students in government and government-aided schools. <br>
                        Technologies Used: CodeIgniter (PHP), jQuery, JavaScript, PostgreSQL
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Industrial Training</h2>
                <ul class="list-group">
                    <li class="list-group-item">Mid Day Meal</li>
                    <li class="list-group-item">West Bengal Labour Commissionerate</li>
                </ul>
            </div>
        </div>
    </div>